body, html {
    transform: scale(1);
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.background1 {
    height: 95vh;
    background-image: url(assets/background1.png);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hello {
    position: absolute;
    font-family: 'Puritan', sans-serif;
    color: white;
    top: 5vh;
    width: 60vw;
    max-width: 60%;
    font-size: 15vh;
    margin-left: 20vw;
    z-index: 3;
}

.welcome {
    position: absolute;
    font-family: 'Puritan', sans-serif;
    color: white;
    bottom: 5vh;
    left: 55vw;
    font-size: 3vh;
    z-index: 3;
}

.navbar {
    background-color: white;
    height: auto;
    width: 100vw;
    max-width: 100%;
    line-height: 5vh;
    justify-content: space-around;
    display: flex;
    top: 0;
    position: sticky;
    z-index: 1;
}

.navbar a {
    text-align: center;
    font-family: 'Puritan', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2vh;
    height: auto;
    width: auto;
}

.blob {
    position: absolute;
    width: 50vw;
    height: 150vh;
    left: -1vw;
    top: 5vh;
    z-index: 0;
}

.blob2 {
    position: absolute;
    width: 17vw;
    height: 20vh;
    right: 0;
    top: -5vh;
    z-index: 2;
}

.blob3 {
    position: absolute;
    width: 40vw;
    height: 160vh;
    right: 0;
    top: 120vh;
    z-index: 0;
}

.about {
    height: auto;
    width: 100vw;
    max-width: 100%;
    background-image: linear-gradient(rgb(246, 153, 136) 40%, rgb(247, 150, 150) 80%, white);
}

.profile {
    height: 65vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    height: 30vh;
    width: 30vh;
    border-radius: 15vh;
}

.description {
    width: 40vw;
    max-width: 40%;
    font-size: 3vh;
    font-family: 'Puritan', sans-serif;
    color: white;
    margin: 10%;
}
