body, html {
    transform: scale(1);
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

div.background1 {
    height: 100vh;
    background-image: url(assets/background1.png);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    background-color: white;
    height: 5vh;
    line-height: 5vh;
    position: fixed;
    width: 100vw;
    justify-content: space-around;
    display: flex;
    z-index: 1;
}

.navtext {
    text-align: center;
    font-family: 'Puritan', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    height: auto;
    width: auto;
}

.active-pink {
    background: #EC576B;
}

.active-blue {
    background: #4EC5C1;
}

.active-yellow {
    background: #41e287;
}

.active-orange {
    background: #f3c394;
}
